<!DOCTYPE html>
<html>

<head>
  <title>Books.Wiki Homepage</title>
  <link href="../styles/reset.css" type="text/css" rel="stylesheet" />
  <link href="../styles/base.css" type="text/css" rel="stylesheet" />
  <link href="../styles/layout.css" type="text/css" rel="stylesheet" />
  <link href="../styles/module.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <header>
    <h1>Books.Wiki</h1>
  </header>
  <div class="topdiv">
    <h2>Welcome to Your Bookshelf</h2>
  </div>
  <main>
    <ul>
      <% bookshelf.forEach(function(book) { %>
      <li>
        <img src="<%= book.thumbnail %>"></img>
        <h3><%= book.title %></h3>
        <strong>Authors: <%= book.authors %></strong>
        <p>Description: <%= book.description %></p>
        <p>ISBN: <%= book.identifier %></p>
      </li>
      <% }); %>
    </ul>
  </main>
</body>

</html>